* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #000;
}

#akCanvas {
  /* pointer-events: none; */
  cursor: url(../image/mouse.png) 0 0, pointer;
}